<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="netsurfers.gicp.net"
      android:versionCode="1"
      android:versionName="1.0">
      
    <application android:icon="@drawable/icon" android:label="@string/app_name">
		
		<activity android:name=".GameActivity" android:configChanges="keyboardHidden|orientation">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <data android:path="netsurfers.gicp.net.GameActivity" android:scheme="content" />
			</intent-filter>
		</activity>
		
		<activity android:name="MenuActivity">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:path="netsurfers.gicp.net.MenuActivity" android:scheme="content" />
			</intent-filter>
		</activity>
		
		<provider android:name=".provider.DatabaseProvider" android:authorities="netsurfers.gicp.net.provider"/>
		
	</application>
	
    <uses-sdk android:minSdkVersion="7" />

</manifest> 